<tr style="{ROW_STYLE}"">
    <td>{TAIL_NUMBER}</td>
    <td>{MODEL_NUMBER}</td>
    <td>{MODEL_DESCRIPTION}</td>
    <td>{OWNER_COMPANY_NAME}</td>
    <td>{COMPANY_COUNTRY_CODE}</td>
    <td>{COMPANY_COUNTRY_NAME}</td>
</tr>